USE [FrontShop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[gmail] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[gender] [bit] NOT NULL,
	[roleID] [int] NOT NULL,
	[accStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[gmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[addID] [int] NOT NULL,
	[gmail] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[addID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[caID] [int] IDENTITY(1,1) NOT NULL,
	[caName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[caID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[proColorID] [int] IDENTITY(1,1) NOT NULL,
	[proColorName] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[proColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[comboID] [int] IDENTITY(1,1) NOT NULL,
	[comboName] [nvarchar](max) NOT NULL,
	[Total_Money] [float] NOT NULL,
	[conboStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Combo] PRIMARY KEY CLUSTERED 
(
	[comboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo Detail]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo Detail](
	[comboID] [int] NOT NULL,
	[proID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orID] [int] IDENTITY(1,1) NOT NULL,
	[orDate] [date] NOT NULL,
	[gmail] [nvarchar](100) NOT NULL,
	[totalMoney] [float] NOT NULL,
	[orStatusID] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order Detail]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order Detail](
	[orID] [int] NOT NULL,
	[stockID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[tittle] [nvarchar](100) NOT NULL,
	[gmail] [nvarchar](100) NOT NULL,
	[toppic] [nvarchar](100) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
	[detail] [nvarchar](max) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[tittle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[proID] [int] IDENTITY(1,1) NOT NULL,
	[proName] [nvarchar](200) NOT NULL,
	[proDetail] [nvarchar](max) NOT NULL,
	[proPrice] [float] NOT NULL,
	[caID] [int] NOT NULL,
	[proStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[proID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product Feedback]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product Feedback](
	[proID] [int] NOT NULL,
	[proRate] [float] NOT NULL,
	[proFeedback] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product Image]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product Image](
	[proID] [int] NOT NULL,
	[proImg] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [int] NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop Information]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop Information](
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Facebook] [nvarchar](100) NOT NULL,
	[Gmail] [nvarchar](100) NOT NULL,
	[Phone] [nchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[sizeID] [int] IDENTITY(1,1) NOT NULL,
	[sizeName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[sizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[orStatusID] [int] NOT NULL,
	[orStatusName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[orStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 5/23/2023 9:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[stockID] [int] IDENTITY(1,1) NOT NULL,
	[proID] [int] NOT NULL,
	[proColorID] [int] NOT NULL,
	[proSizeID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[stockStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[stockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([gmail], [password], [name], [gender], [roleID], [accStatus]) VALUES (N'8502dinhvando@gmail.com', N'123456789a', N'Đinh Văn Độ', 1, 4, 1)
INSERT [dbo].[Account] ([gmail], [password], [name], [gender], [roleID], [accStatus]) VALUES (N'dodvhe161048@fpt.edu.vn', N'123456789a', N'Đinh Văn Độ', 1, 1, 1)
INSERT [dbo].[Account] ([gmail], [password], [name], [gender], [roleID], [accStatus]) VALUES (N'ngunguoir1@gmail.com', N'123456789a', N'Đinh Độ', 1, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([caID], [caName]) VALUES (1, N'Tshirt')
INSERT [dbo].[Categories] ([caID], [caName]) VALUES (2, N'Shirt')
INSERT [dbo].[Categories] ([caID], [caName]) VALUES (3, N'Polo')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([proColorID], [proColorName]) VALUES (1, N'Black     ')
INSERT [dbo].[Color] ([proColorID], [proColorName]) VALUES (2, N'While     ')
INSERT [dbo].[Color] ([proColorID], [proColorName]) VALUES (3, N'Beige     ')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Combo] ON 

INSERT [dbo].[Combo] ([comboID], [comboName], [Total_Money], [conboStatus]) VALUES (1, N'Monumental', 1524000, 1)
INSERT [dbo].[Combo] ([comboID], [comboName], [Total_Money], [conboStatus]) VALUES (2, N'Blissful', 1000000, 1)
SET IDENTITY_INSERT [dbo].[Combo] OFF
GO
INSERT [dbo].[Combo Detail] ([comboID], [proID]) VALUES (1, 1)
INSERT [dbo].[Combo Detail] ([comboID], [proID]) VALUES (1, 20)
INSERT [dbo].[Combo Detail] ([comboID], [proID]) VALUES (1, 11)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([proID], [proName], [proDetail], [proPrice], [caID], [proStatus]) VALUES (3, N'Title Tshirt', N'TITLE TSHIRT
✦ Chất liệu: Cotton 260gsm Washed
✦ Fitting: Oversized.
✦ Chi tiết:
+ Chất liệu dày dặn và đứng form. Vải được xử lí kĩ thuật Acid Washed đem lại sự cá tính cho thiết kế sản phẩm
+ Hình in được thiết kế độc quyền, in khổ lớn trên áo, sử dụng hiệu ứng in nứt trên Logo tạo sự Vintage.
+ Phần bo cổ áo được xử lý kĩ lưỡng.
', 410000, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product Image] ([proID], [proImg]) VALUES (1, N'img/RDFlowerTshirt(1).jpg')
INSERT [dbo].[Product Image] ([proID], [proImg]) VALUES (1, N'img/RDFlowerTshirt(2).jpg')
INSERT [dbo].[Product Image] ([proID], [proImg]) VALUES (1, N'img/RDFlowerTshirt(3).jpg')
GO
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (2, N'Maketing')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (3, N'Sale')
GO
INSERT [dbo].[Shop Information] ([Name], [Address], [Facebook], [Gmail], [Phone]) VALUES (N'Front', N'Hà Nội', N'https://www.facebook.com/dinhvando8502', N'dodvhe161048@fpt.edu.vn', N'0999999999          ')
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([sizeID], [sizeName]) VALUES (1, N'S')
INSERT [dbo].[Size] ([sizeID], [sizeName]) VALUES (2, N'M')
INSERT [dbo].[Size] ([sizeID], [sizeName]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([stockID], [proID], [proColorID], [proSizeID], [quantity], [stockStatus]) VALUES (1, 1, 1, 1, 40, 1)
INSERT [dbo].[Stock] ([stockID], [proID], [proColorID], [proSizeID], [quantity], [stockStatus]) VALUES (2, 1, 2, 1, 40, 1)
INSERT [dbo].[Stock] ([stockID], [proID], [proColorID], [proSizeID], [quantity], [stockStatus]) VALUES (3, 1, 1, 2, 30, 1)
GO
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Account] FOREIGN KEY([gmail])
REFERENCES [dbo].[Account] ([gmail])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Account]
GO
ALTER TABLE [dbo].[Combo Detail]  WITH CHECK ADD  CONSTRAINT [FK_Combo Detail_Combo] FOREIGN KEY([comboID])
REFERENCES [dbo].[Combo] ([comboID])
GO
ALTER TABLE [dbo].[Combo Detail] CHECK CONSTRAINT [FK_Combo Detail_Combo]
GO
ALTER TABLE [dbo].[Combo Detail]  WITH CHECK ADD  CONSTRAINT [FK_Combo Detail_Product] FOREIGN KEY([proID])
REFERENCES [dbo].[Product] ([proID])
GO
ALTER TABLE [dbo].[Combo Detail] CHECK CONSTRAINT [FK_Combo Detail_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([gmail])
REFERENCES [dbo].[Account] ([gmail])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([orStatusID])
REFERENCES [dbo].[Status] ([orStatusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order Detail_Order] FOREIGN KEY([orID])
REFERENCES [dbo].[Order] ([orID])
GO
ALTER TABLE [dbo].[Order Detail] CHECK CONSTRAINT [FK_Order Detail_Order]
GO
ALTER TABLE [dbo].[Order Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order Detail_Stock] FOREIGN KEY([stockID])
REFERENCES [dbo].[Stock] ([stockID])
GO
ALTER TABLE [dbo].[Order Detail] CHECK CONSTRAINT [FK_Order Detail_Stock]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Account] FOREIGN KEY([gmail])
REFERENCES [dbo].[Account] ([gmail])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categories] FOREIGN KEY([caID])
REFERENCES [dbo].[Categories] ([caID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categories]
GO
ALTER TABLE [dbo].[Product Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Product Feedback_Product] FOREIGN KEY([proID])
REFERENCES [dbo].[Product] ([proID])
GO
ALTER TABLE [dbo].[Product Feedback] CHECK CONSTRAINT [FK_Product Feedback_Product]
GO
ALTER TABLE [dbo].[Product Image]  WITH CHECK ADD  CONSTRAINT [FK_Product Img_Product] FOREIGN KEY([proID])
REFERENCES [dbo].[Product] ([proID])
GO
ALTER TABLE [dbo].[Product Image] CHECK CONSTRAINT [FK_Product Img_Product]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Color] FOREIGN KEY([proColorID])
REFERENCES [dbo].[Color] ([proColorID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Color]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Product] FOREIGN KEY([proID])
REFERENCES [dbo].[Product] ([proID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Product]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Size] FOREIGN KEY([proSizeID])
REFERENCES [dbo].[Size] ([sizeID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Size]
GO
